/*
Theme Name: Creta
Theme URI: http://magikcommerce.com/creta
Author: MagikCommerce
Author URI: https://www.magikcommerce.com/
Description: Creta wordpress Theme
Version: 2.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns,  left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: creta
*/
/* TABLE OF CONTENTS

1.      BODY
2.      LAYOUT
2a.     Base Columns
2b.     1 Column Layout
2c.     2 Column Layout
2d.     3 Column Layout


*/
/* BEGIN OF STYLING */

/* 1. BODY */
body {
	color: #333;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: auto;
	line-height: 1.55;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover, a:focus {
	/*color: #da2c2a;*/
	/*text-decoration: underline;*/
}
legend {
	display: none;
}
/* 2.  LAYOUT */


/* 2a. Base Columns */
.col-left {
	margin-bottom: 0px;
}
.col-main {
}
.col-right {
	margin-bottom: 0px;
}
/* 2b. 1 Column Layout */
.col1-layout .header-background-default {
	margin: 20px;
	padding: 0;
}
.col1-layout .col-main {
	float: none;
	width: auto;
}
/* 2c. 2 Column Layoutt */
.col2-left-layout .col-main {
}
.col2-right-layout .col-main {
}
.col2-right-layout ol.opc .col-md-4 {
	margin-right: 15px;
}
/* 2d. 3 Column Layout */
.col3-layout .col-main {
}
.col3-layout .col-wrapper {
	float: left;
	width: 780px;
}
.col3-layout .col-wrapper .col-main {
	float: right;
}
.product-essential .variations_form .variations {
	margin-bottom: 10px;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images
{
	width: 100% !important;
}

/* new style of version1.1 */



.cart-table tbody td.image a img {
    width: 80px !important;
    max-width: 80px !important;
    height: auto !important;
}


.magik-slideshow a.s-link{ position:absolute; top:0px; bottom:0px; left:0px; height:100%; width:100%;z-index:0;}

#rev_slider a.s-link{ position:absolute; top:0px; bottom:0px; left:0px; height:100%; width:100%;z-index:0;}


/* 1.2 css */

.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.imgitem a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.imgitem a span {
    display: none;
}

.yith-wcqv-main .product.has-default-attributes.has-children>.images {
    opacity: 1 !important;
}

/* new css added for version 1.3 */
#yith-quick-view-content
{
	margin:10px;
}
#yith-quick-view-content .product-image {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left:  20px;
  width: 46% !important;
}
#yith-quick-view-content div.summary {
  padding: 0;
  padding-top: 20px;
  float: right !important;
}  

.yith-woocompare-widget ul.products-list li .remove {

    left: 0px !important;
  }
  .yith-woocompare-widget ul.products-list li .title {
   
    margin-left: 25px !important;
}

/* version 2.2 style.css */

    #yith-quick-view-content div.images
{
    width: 100%;
}

 #yith-quick-view-content  div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
   }

   .woocommerce .crosssel ul.products li.product, .woocommerce-page .crosssel ul.products li.product
{
    padding: 12px;
}


/* version 2.3 new feature css */

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
  margin: 0 2.8% 2.992em 0 !important;
}

.mega-menu li.menu-item.menu-item-type-custom ul.sub-menu li.menu-item
{
display: block  !important; 
}
.products-grid.products .desc 
{
  display: none;
}
.products-grid .action .button.yith-wcqv-button, .products-grid .actions-cart .button.yith-wcqv-button
{
    display: none;
}
.single-product.woocommerce .timer-grid .box-time-date {
  background: #fbfbfb;
  font-size: 9px;
  color: #808080;
  min-width: 85px;
  min-height: 65px;
  text-align: center;
  margin: 7px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px #e8e8e8 solid;
  display: inline-block;
}
.single-product.woocommerce .timer-grid .box-time-date span
{
  color: #000 !important;

}
.single-product.woocommerce .box-timer {
  position: relative;
  bottom: 0px;
  left: -8px;
  top: 0px;
  margin-top: 0px;
  display: inline-block;
  color: #808080;
}
.single-product.woocommerce .product-timer-box {
  padding: 12px 0px;
  border-bottom: 1px #ddd dotted;
}


.single-product.woocommerce .timer-grid .box-time-date span {
  display: block;
  font-size: 16px;
  color: #3f3f3f;
  margin-top: 16px;
}



.products-grid .product-category h3
{
  font-size: 16px !important;
    color: #333;
    margin-top: 10px !important;
     text-align: center;
   font-weight: 400;

}

.products-grid .product-category h3 .count
{
  font-size: 16px !important;
    color: #333;
    margin-top: 10px !important;
    background-color: inherit;
   font-weight: 600;

}



.woocommerce-widget-layered-nav-dropdown,.woocommerce.widget_rating_filter ul
{
padding: 12px 15px 0 15px !important;
}


.woocommerce.widget_rating_filter .star-rating
{
  font-size: 14px !important;
  margin-bottom: -2px !important;
}
.woocommerce.widget_rating_filter .star-rating:before
{
  font-size: 14px !important;
}
.select2-container--default .select2-selection--single
{
  border-radius: 0px !important;
  border: 1px solid #666 !important;
}
.page-content
{
  margin-top: 15px;
}


.category-products li.product-category .count
{
  padding: 0px;
}





@media only screen and (min-width: 320px) and (max-width: 479px) {

  .single-product.woocommerce .timer-grid .box-time-date {
min-width:65px;
  min-height: 55px;

  }
  .single-product.woocommerce .timer-grid  .box-time-date span {
  
  font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
  .single-product.woocommerce .timer-grid .box-time-date {
min-width:65px;
  min-height: 60px;

  }
  
  }




@media (max-width: 1189px){
.nav-inner .mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img 
{
    height: 184px !important;

}
}


/* 2.4 CSS UPDATEDS */



.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
    background-color: #fff;
    opacity: 1 !important;
}

.woocommerce div.product form.cart table.group_table td:first-child
{
  text-align: left;
}

.woocommerce ul.products li.first, .woocommerce-page .crosssel ul.products li.first
{
clear: none;
}

.crosssel .new_title h2
{
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: auto auto 0;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: inherit;
    padding-top: 12px;
    text-transform: uppercase;

  }
  
  ul.mega-menu li.menu-item-type-custom:first-child a {
    font-size: 13px;
    width: 68px;
    text-align: center;
}

  ul.mega-menu  li.menu-item-type-custom.has-sub .sub-menu li a
  {
    color: #222;
    font-weight: 400;
    padding: 8px;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
  }